* * { transition: color .1s ease, background-color .2s ease, border-color .1s ease, fill .1s ease; box-sizing: border-box; } 
html,
body,
#root {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  min-height: 100dvh;
}

.app { 
    min-height: 100dvh;
    position: relative;
}

.content { 
    padding: 16px;
    border-radius: 16px;
    font-weight: 900;
    transition: color .1s ease, background-color .2s ease;
}

.message {
    margin-bottom: 32px;

}

.message-enter {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.message-enter-active {
  opacity: 1;
}

/* Animate the messages when they leave */
.message-exit {
  opacity: 1;
}

.message-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

input:focus { 

}

input::placeholder {
    color: inherit;
    opacity: .25;
}


.shadow {
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}

@keyframes wiggle {
  0%, 100% { transform: rotate(-8deg) scale(1); }
  25% { scale(1.2); }
  50% { transform: rotate(8deg) scale(1); }
}

.wiggle {
  animation: wiggle 1s ease-in-out infinite;
}


.path {
  stroke-dasharray: 300% 300%;
  stroke-dashoffset: -300%;
  animation: draw 4s forwards;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes undraw {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -100%;
  }
}
